<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_collection">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TRL_Redeem_Winning"></activity>
        <activity android:name=".TRL_Redeem_numbers" />
        <activity android:name=".Activity_Lifecycle2" />
        <activity android:name=".Image_array" />
        <activity android:name=".Image_change" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".Activity_Lifecycle" />
        <activity android:name=".TRL_Redeem" />
        <activity android:name=".guess_digital_show" />
        <activity android:name=".bmi_show" />
        <activity android:name=".bmi_detect" />
        <activity android:name=".Activity_post2" />
        <activity android:name=".Activity_jump2" />
        <activity android:name=".guess_digital" />
        <activity android:name=".Activity_post" />
        <activity android:name=".Activity_jump" />
        <activity android:name=".time_count" />
        <activity android:name=".taxi_count" />
        <activity android:name=".temperature_transform" />
        <activity android:name=".bmi_count" />
        <activity android:name=".button_application" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>